# Data files — do not commit raw or processed data to GitHub
data/inputs/
*.tif
*.geotiff
*.gpkg
*.shp
*.dbf
*.shx
*.prj
*.csv
*.xlsx
*.parquet


data/outputs/
*.tif
*.geotiff
*.gpkg
*.shp
*.dbf
*.shx
*.prj
*.csv
*.xlsx
*.parquet

notebooks/.ipynb_checkpoints


.idea/

# Python
__pycache__/
*.pyc
